*{-webkit-tap-highlight-color: rgba(0,0,0,0)}
html{height:100%}
body{height:100%;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-user-select:none;background-attachment:fixed;font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;font-size:12px;height:100%;margin:0px;padding:0px;text-transform:uppercase;width:100%}
.viewsites{position:fixed;background-color:lightgrey;width:100%;height:100%;margin:0 auto;-webkit-overflow-scrolling:touch}
iframe{width:100%;height:100%}

@-webkit-keyframes spinning{
	from{transform:rotate(0deg)}
	to{transform: rotate(360deg)}
}

@-moz-keyframes spinning{
	from{transform:rotate(0deg)}
	to{transform: rotate(360deg)}
}

@keyframes spinning{
	from{transform:rotate(0deg)}
	to{transform: rotate(360deg)}
}

.showLoading{display:block!important;opacity:1!important}
#loading_div{width:100%;height:100%;display:none;opacity:0}
#loading_img{display:table;-webkit-animation:spinning 2s infinite;animation:spinning 2s infinite;position:relative;left:50%;top:50%;-webkit-transform:translateY(-50%) translateX(-50%);transform:translateY(-50%) translateX(-50%)}
